@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu&display=swap');
/* Content Stuff */

#content {
    max-width: 1600px;
    margin: 0 auto;
}



body {
    background-color: white;
    color: #FA5702;
    font-family: 'Orbitron', 'Ubuntu', 'san-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #FF0B00;
    color: white;
}

#hero-img {
    align-self: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color: #FF0B00;
    color: white;
    padding: 35px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0284fa;
    color: white;
    text-decoration: underline;
    transition: 0.4s;
}

h1 {
    padding: 20px;
}

h2 {
    padding: 20px;
}

p {
    padding: 20px;
    font-family: 'Ubuntu'
}

#mario {
    float: right;
    padding: 50px;
}

footer {
    background-color: #FF0B00;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white;
}

footer a {
    background-color: #FF0B00;
    color: white;
    padding: 42px;
    text-decoration: none;
}

footer a:hover {
    background-color: #0284fa;
    color: white;
    text-decoration: underline;
    transition: 0.4s;
}