@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&family=Ubuntu&display=swap');
/* Content Stuff */

#content {
    max-width: 1600px;
    margin: 0 auto;
}



body {
    background-color: white;
    color: #FA5702;
    font-family: 'Orbitron', 'Ubuntu', 'san-serif';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #FF0B00;
    color: white;
}

#hero-img {
    align-self: center;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    background-color: #FF0B00;
    color: white;
    padding: 35px;
    text-decoration: none;
}

nav a:hover {
    background-color: #0284fa;
    color: white;
    text-decoration: underline;
    transition: 0.4s;
}

h1 {
    padding: 20px;
    margin-left: 25px;
}

.panel h2 {
    padding: 20px;
    margin-left: 15px;
}

p {
    padding: 20px;
    font-family: 'Ubuntu';
    margin-left: 35px;
}

#mario {
    float: right;
    padding: 50px;
}

footer {
    background-color: #FF0B00;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    color: white;
}

footer a {
    background-color: #FF0B00;
    color: white;
    padding: 42px;
    text-decoration: none;
}

footer a:hover {
    background-color: #0284fa;
    color: white;
    text-decoration: underline;
    transition: 0.4s;
}

/* History Stuff */
.accordion {
    background-color: #FF0B00;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: 'Orbitron';
}

.active,
.accordion:hover {
    background-color: #FA5702;
    text-decoration: underline;
}

.panel {
    padding: 0 18px;
    background-color: #b1d9ff;
    display: none;
    overflow: hidden;
}

.panel img {
    float: left;
    padding: 10px;
    height: 500px;
    margin-bottom: 100px;
}

.panel p {
    padding: 0px;
    margin-left: 410px;
    margin-right: 100px;
}

.panel h2 {
    text-decoration: underline;
    padding: 0px;
    margin-left: 395px;
}

.panel h3 {
    font-family: 'Ubuntu';
    text-decoration: none;
    margin-left: 400px;
}

.panel h4 {
    text-decoration: underline;
    margin-left: 400px;
}

/* Franchise stuff */

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.home-grid section {
    margin-top: 50px;
    margin-right: 25px;
}

.home-grid h2 {
    text-align: center;
    padding: 15px;
    margin-top: 0;
}

.home-grid img {
    width: 80%;
}

main section {
    text-align: center;
}

.Mario {
    grid-row: 1/2;
    grid-column: 2/4;
    border: 5px solid #ee1c25;
}

.Mario h2 {
    color: white;
    background-color: #E0102F;
}

#Mario-img {
    margin-top: 15px;
    max-width: 250px;
}

.Luigi {
    grid-row: 1/2;
    grid-column: 4/6;
    border: 5px solid #40e54f;
 
}

.Luigi h2 {
    color: white;
    background-color: #08A936;
}

#Luigi-img {
    max-width: 235px;
}


.Peach {
    grid-row: 1/2;
    grid-column: 6/8;
    border: 5px solid #f6b1d0;
}

.Peach h2 {
    color: white;
    background-color: #F096BE;
}

#Peach-img {
    max-width: 245px;
    margin-top: -27px;
}


.Toad {
    grid-row: 1/2;
    grid-column: 8/10;
    border: 5px solid #213bff;
}


.Toad h2 {
    color: white;
    background-color: #17419A;
}

#Toad-img {
    margin-top: 75px;
    max-width: 170px;
    width: 60%;
}


.Toadette {
    grid-row: 2/3;
    grid-column: 2/4;
    border: 5px solid pink;

}

.Toadette h2 {
    color: white;
    background-color: #f54a97;
}

#Toadette-img {
    max-width: 242px;
    margin-top: 133px;
}

.Bowser {
    grid-row: 2/3;
    grid-column: 4/6;
    border: 5px solid #ff7400
}


.Bowser h2 {
    color: white;
    background-color: #f8be10;

}

#Bowser-img {
    max-width: 415px;
    height: 315px;
}

.Yoshi {
    grid-row: 2/3;
    grid-column: 6/8;
    border: 5px solid #6fd251;

}

.Yoshi h2 {
    color: white;
    background-color: #70b921;
}

#Yoshi-img {
    max-width: 183px;
    max-height: 383px;
    margin-top: 37px;
    width: 60%;
}

.Daisy {
    grid-row: 2/3;
    grid-column: 8/10;
    border: 5px solid orange;
}

.Daisy h2 {
    color: white;
    background-color: #ee830a;
}

#Daisy-img {
    margin-top: 35px;
    max-width: 250px;
}


.Wario {
    grid-row: 3/4;
    grid-column: 2/4;
    border: 5px solid #9c23fb;
}

.Wario h2 {
    color: white;
    background-color: #f5da0f;
}

#Wario-img {
max-width: 275px;
margin-top: 70px;
}

.Waluigi {
    grid-row: 3/4;
    grid-column: 4/6;
    border: 5px solid #051139;
}

.Waluigi h2 {
    color: white;
    background-color: #5d2e8e;
}

#Waluigi-img {
    max-width: 275px;
    margin-top: 25px;
}

.Rosalina {
    grid-row: 3/4;
    grid-column: 6/8;
    border: 5px solid #009aff;
}

.Rosalina h2 {
    color: white;
    background-color: #1dd4b7;
}

#Rosalina-img {
    max-width: 320px;
}


.Bowser2 {
    grid-row: 3/4;
    grid-column: 8/10;
    border: 5px solid #f0ff00;
}

.Bowser2 h2 {
    color: white;
    background-color: #f6ce09;
}

#Bowser2-img {
    max-width: 259px;
    margin-top: 76px;
}